<a class="badge github-forkme" href="https://github.com/vincentbernat/lldpd">
  <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"
       alt="GitHub badge" title="Fork me on GitHub">
</a>
<a class="badge latest-version" href="https://media.luffy.cx/files/lldpd/lldpd-{{ resource.meta.latestversion }}.tar.gz">
  <div title="Download latest version of lldpd">{{ resource.meta.latestversion }}</div>
</a>

{# Local Variables:      #}
{# mode: html            #}
{# indent-tabs-mode: nil #}
{# End:                  #}
