<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  {% if resource.meta.title %}
  <title>lldpd » implementation of IEEE 802.1ab | {{ resource.meta.title }}</title>
  {% else %}
  <title>lldpd » implementation of IEEE 802.1ab (LLDP)</title>
  {% endif %}
  <meta name="keywords" content="lldpd, 802.1ab, network, discovery, cdp, edp, snmp">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="canonical" href="{{base}}{{ content_url(resource.url) }}">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inconsolata|Libre+Baskerville:400,400italic,700" type="text/css">
  <link rel="stylesheet" href="{{ media_url('css/lldpd.css') }}" type="text/css">
  <script src="{{ media_url('js/mp.js') }}"></script>
</head>
<body>

  <a class="github-forkme" href="https://github.com/vincentbernat/lldpd">
    <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png"
         alt="Fork me on GitHub">
  </a>

  {% include "menu.j2" %}
  <article>
    <div role="main">
      {% if resource.meta.title %}
      <header>
        <h1>{{ resource.meta.title }}</h1>
      </header>
      {% endif %}

      {% filter markdown|typogrify -%}
      {% block article -%}{%- endblock %}
      {%- endfilter %}
    </div>
  </article>

</body>
</html>
