<nav>

  <p class="tagline">
    <em>lldpd</em> is a 802.1ab implementation (LLDP) to
    help you locate neighbors of all your equipments.
  </p>

  <ul>
    <li><a href="index.html">Overview</a></li>
    <li><a href="features.html">Features</a></li>
    <li><a href="installation.html">Installation</a></li>
    <li><a href="usage.html">Usage</a></li>
  </ul>
</nav>

{# Local Variables:      #}
{# mode: html            #}
{# indent-tabs-mode: nil #}
{# End:                  #}
