<nav>

  <p class="tagline">
    <em>lldpd</em> is a 802.1ab implementation (LLDP) to
    help you locate neighbors of all your equipments.
  </p>

  <ul>
    <li><a href="{{ content_url('index.html') }}">Overview</a></li>
    <li><a href="{{ content_url('features.html') }}">Features</a></li>
    <li><a href="{{ content_url('installation.html') }}">Installation</a></li>
    <li><a href="{{ content_url('usage.html') }}">Usage</a></li>
    <li><a href="{{ content_url('security.html') }}">Security</a></li>
  </ul>
</nav>

{# Local Variables:      #}
{# mode: html            #}
{# indent-tabs-mode: nil #}
{# End:                  #}
