---
name: Code style
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  style-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v22
      - name: Check Python/C style
        run: |
          nix develop --command ci-helper format-c format-python
          git diff --exit-code
